#!/bin/bash

# This file should not be tracked by version control

# User whose home directory will be backed up
BACKUP_USER="my_cool_username"
# Bitwarden Session token
BW_SESSION="123456789blablabla123456789bla123"
# Email addres to send an alert email to when mdadm detects an error in the RAID1 array
MDADM_FAILURE_EMAIL_TO="hi@its.me"
# Email addres to send an alert email from when mdadm detects an error in the RAID1 array
MDADM_FAILURE_EMAIL_FROM="mdadm@$(hostname).home"
# Sendgrid API key to use when sending emails with sendgrid
SENDGRID_API_KEY="123456789blablabla123456789bla123"
# Ethernet interface to send the WoL magic packets from
WAKEUP_INTERFACE="interface_name"
