#!/bin/bash

# This file should not be tracked by version control

# Bitwarden Session token
BW_SESSION="123456789blablabla123456789bla123"
# Sendgrid API key to use when sending emails with sendgrid
SENDGRID_API_KEY="123456789blablabla123456789bla123"
# Ethernet interface to send the WoL magic packets from
WAKEUP_INTERFACE="interface_name"
